@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap");

* {
  box-sizing: border-box;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #4a912b;
}

div {
  background-color: #4a912b;
}

.row {
  justify-content: center;
}

header {
  position: fixed;
  padding-bottom: 2rem;
}

.container {
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 15px;
  align-items: center;
  z-index: 10;
}

.title {
  padding-left: 25px;
  margin-right: auto;
  font-weight: 700;
  font-size: 45px;
  cursor: pointer;
}

.title_alt {
  display: none;
}

li,
a,
button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  height: 75px;
}

.nav__link {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  width: 250px;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li {
  padding-right: 10%;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

li:hover {
  color: #0088a9;
}

button {
  align-items: center;
  margin-right: 5%;
  font-size: small;
  width: 5rem;
  height: 2rem;
  background-color: #999999;
  border: none;
  border-radius: 2rem;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.6);
}

@media (max-width: 1150px) {
  .title {
    display: none;
  }

  .title_alt {
    display: flex;
    padding-left: 3rem;
  }
}

@media (max-width: 600px) {
  header {
    padding-bottom: 0;
  }

  .title {
    display: none;
  }

  .title_alt {
    display: none;
  }

  .row {
    padding-top: 1rem;
  }
}
