<div>
  <h1>Services</h1>
  <div class="item-row">
    <div class="item-left">
      <img class="left-image" src="../../assets/images/mowing.jpg" alt="Mowing">
      <h2>Mowing</h2>
    </div>
    <div class="item-left">
      <img class="left-image" src="../../assets/images/mulching.jpg" alt="Mulching">
      <h2>Mulching</h2>
    </div>
  </div>
  <div class="item-row">
    <div class="item-right">
      <h2>Leaf Removal</h2>
      <img class="right-image"  src="../../assets/images/leaf-removal.jpg" alt="Leaf Removal">
    </div>
    <div class="item-right">
      <h2>Sodding</h2>
      <img class="right-image" src="../../assets/images/sod.jpg" alt="Sod">
    </div>
  </div>
  <div class="item-row">
    <div class="item-left">
      <img src="../../assets/images/aeration.jpg" alt="Aeration">
      <h2>Core Aeration</h2>
    </div>
    <div class="item-left">
      <img src="../../assets/images/fertilization.jpg" alt="Fertilization">
      <h2>Fertilizing</h2>
    </div>
  </div>
  <div class="item-row">
    <div class="item-right">
      <h2>Irrigation</h2>
      <img src="../../assets/images/Irrigation.jpg" alt="Irrigation">
    </div>
    <div class="item-right">
      <h2>Snow Removal</h2>
      <img src="../../assets/images/snow-removal.jpg" alt="Snow Removal">
    </div>
  </div>
    <div class="item-row-center">
      <div class="item">
        <img src="../../assets/images/landscaping.jpg" alt="Landscaping">
        <h2>Landscaping</h2>
      </div>
    </div>
</div>
