.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5%;
}

.picture {
  align-items: left;
  max-width: 60%;
  max-height: fit-content;
  margin-top: 2rem;
  margin-right: 0;
}

img {
  max-width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
}

.textbox {
  padding-top: 12.5%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

p {
  font-size: larger;
}

@media (max-width: 1300px) {
  .home {
    flex-direction: column;
  }

  .picture {
    margin-left: 25%;
    margin-right: 25%;
  }

  img {
    border-radius: 5rem;
  }

  .textbox {
    padding-top: 2rem;
    padding-bottom: 5rem;
  }
}
