.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.picture {
  align-items: left;
  max-width: 60%;
  max-height: fit-content;
  margin-top: 2rem;
  margin-right: 0;
}

img {
  max-width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
}

.textbox {
  padding-top: 15%;
  margin-left: auto;
  margin-right: 15%;
}
